system/system/app/VoiceAssist/VoiceAssist.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MIUIVideo/MIUIVideo.apk
system/system/priv-app/MIUIGallery/MIUIGallery.apk
system/system/priv-app/MIUIMusic/MIUIMusic.apk
system/system/priv-app/MIUIBrowser/MIUIBrowser.apk
system/system/data-app/MiShop/MiShop.apk
system/system/data-app/Health/Health.apk
system/system/data-app/MIMediaEditor/MIMediaEditor.apk
system/system/data-app/SmartHome/SmartHome.apk
system/system/data-app/MIUIYoupin/MIUIYoupin.apk
modem.img
vendor/camera/mimoji/model2.zip
vendor/etc/camera/st_license.lic
vendor/etc/camera/cud_model
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
boot.img
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
